.an {
  width: 200px;
  height: 100px;
  background: yellow;
  animation: bounce 1s 3s;
}
@keyframes bounce {
  0% {
    width: 200px;
    height: 100px;
  }
  50% {
    width: 130px;
    height: 70px;
  }
  100% {
    width: 200px;
    height: 100px;
  }
}

#draggable {
  width: 200px;
  height: 20px;
  text-align: center;
  background: white;
}

.dropzone {
  width: 200px;
  height: 20px;
  background: blueviolet;
  margin-bottom: 10px;
  padding: 10px;
}
